.hero-form
    @media screen and (min-width: 576px)
        max-width: 640px
    .form-fields
        position: relative
        @media screen and (min-width: 576px)
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            grid-column-gap: 24px
            grid-row-gap: 32px
            position: relative

            &__departure
                grid-area: 1 / 1 / 2 / 2
                display: block
                margin-bottom: 12px
            &__arrival
                grid-area: 1 / 2 / 2 / 3
            &__depart
                display: block
                margin-top: -49px
                grid-area: 2 / 1 / 3 / 2
            &__return
                grid-area: 2 / 2 / 3 / 3


    &__label
        display: block
        font-size: 16px
        font-weight: 600
        margin-top: 24px
    &__input
        width: 100%
        display: block
        height: 53px
        border-radius: 10px
        padding: 16px 24px
        margin-top: 16px
        border: none
        outline: none
        @media screen and (min-width: 576px)
            width: 100%
    .submit
        background-color: var(--primary-blue-train)
        border-radius: 10px
        height: 62px
        font-size: 20px
        color: #fff
        font-weight: 700
        text-align: center
        width: 100%
        border: none
        margin-top: 24px
        @media screen and (min-width: 576px)
            margin-top: -24px

.trip-type
    background: #fff
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 10px
    height: 34px
    padding: 3px 8px

    label
        font-size: 12px
    
    input
        margin: 0 0 1px 0

    .radio-wrapper
        display: flex
        align-items: center
        gap: 6px

    .counter
        display: flex
        align-items: center
        justify-content: space-between
        width: 88px

        font-size: 12px
        font-weight: 500

        button
            background: none
            border: none
            font-size: 16px

            &:last-child
                color: var(--primary-blue)

.calendar-input-wrapper
    position: relative
    // .hero-form__input
    //     position: relative


    &::before
        display: block
        position: absolute
        width: 15.5px
        height: 16px
        left: 24px
        top: 17.5px
        content: ''
        background-image: url(../../images/hero/Calendar.svg)
        background-repeat: no-repeat
        background-position: center
        
    input
        padding-left: 52px      

.form-img
    display: none
    position: absolute
    top: calc(100% + 12px) // чуть ниже input
    left: 0
    z-index: 5
    width: auto
    max-width: 100%
    height: auto
    @media screen and (min-width: 576px)
        max-width: 480px

    @media screen and (min-width: 992px)
        max-width: 600px

    &.visible
        display: block           

.form-fields__departure, .form-fields__depart, .form-fields__return,.hero-form
    position: relative


.error-popup 
    position: absolute
    top: 40px
    left: 60%
    transform: translateX(-50%)
    background-color: #ff5252
    color: #fff
    padding: 8px 16px
    border-radius: 6px
    font-size: 14px
    box-shadow: 0 2px 6px rgba(0,0,0,0.2)
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease
    z-index: 100


.error-popup.visible 
    opacity: 1

.form-fields__return.disabled
  opacity: 0.5
  pointer-events: none

  input
    background-color: #eee
    cursor: not-allowed