.FAQs
    padding-top: 64px
    padding-bottom: 170px
    @media screen and (min-width: 576px)
        padding-bottom: 250px

    h2
        font-size: 64px
    
    .faq-header
        display: flex
        justify-content: space-between
        height: 56px
        align-items: center
        cursor: pointer



        h4
            font-size: 18px
            margin-top: 0
            margin-bottom: 0
            font-weight: 500
            color: var(--primary-black-train)
        
        img
            display: block
            width: 20px
            height: 20px
            transition: transform .4s ease
        
    .faq-body
        display: none
        


        &-opened
            display: block
        p
            font-size: 16px
            line-height: 140%
            margin-top: 0
            margin-bottom: 0
            color: var(--primary-black-train)


.item-opened
       transform: rotate(45deg)

.faq-item-wrapper
  border-bottom: 1px solid #202020
  padding: 16px 0