.about
    padding-bottom: 40px
    color: #fff
    background: var(--primary-blue-train)
    &__content
        display: block

        @media screen and (min-width: 992px)
            display: flex
            justify-content: space-between
            align-items: flex-start
            gap: 80px
    .link-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 40px
        grid-row-gap: 0px
        margin: 0px

        &__about
            grid-area: 1 / 1 / 2 / 2

        &__community
            grid-area: 1 / 2 / 2 / 3
        
        &__socials
            grid-area: 2 / 1 / 3 / 3
        
        @media screen and (min-width: 576px)
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 1fr
            grid-column-gap: 40px
            grid-row-gap: 0px

            &__about
                grid-area: 1 / 1 / 2 / 2
            &__community
                grid-area: 1 / 2 / 2 / 3
            &__socials
                grid-area: 1 / 3 / 2 / 4
    
    h2
        font-size: 34px
        padding-top: 128px
        font-weight: normal
        @media screen and (min-width: 576px)
            padding-top: 100px
        @media screen and (min-width: 992px)
            padding: 0px
            margin: 0px
        
    
    h3
        font-size: 20px
        font-weight: normal
        padding-bottom: 25px
        @media screen and (min-width: 992px)
            margin: 0px
        
    
    a
        color: #fff
        text-decoration: none
        font-weight: 300
        display: grid
        padding-bottom: 25px

    
    span
        color: #fff
    

